html, body {
    height: 100%;
}

.pc {
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

body {
    text-align: center;
}

.pc2 {
    height: 1300px;
    background-color: antiquewhite;
    font-family: 'Droid Sans', sans-serif;
}

.containerpc {
    height: 100%;
    background-image: url(../../img/5195sharp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.navbar-brand {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: white;
}

.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: black;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: white;
}

.navbar-custom {
    background-color: transparent;
    text-align: center;
}

#nav {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    
}

#nav a {
    text-decoration: none;
}

#nav a:hover{
    background:#F8F8F8 none;
    color: black;
}

#nav ul {
    display: inline-block;
    list-style: none;
}

#nav li {
    display:inline-block;
    float: none;
}

.container {
    width: 100%;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}


.title {
    padding-top: 200px;
    font-size: 80px;
    color:white;
}

.box {
    padding-top: 225px;
    font-size: 20px;
}

.arrow {
    width: 80px;
    padding-top: 20px;
}

.aboutleft {
    padding-top: 100px;
}

.abouttitle {
    font-size: 40px;
    padding-top: 70px;
}

.aboutright {
    padding-top: 100px;
}

.quote {
    padding-top: 50px;
    background-color: #FE5F5F;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.aboutlink {
    color: white;
    font-size: 30px;
}

.letter {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    max-height: 40%;
    max-width: 40%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.quotepic {
    max-height: 80%;
    max-width: 80%;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: #D8D8D8;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 350px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: black;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 80px;
    transition: 0.3s;
    background-color: #D8D8D8;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

#myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg5:hover {opacity: 0.7;}

#myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg6:hover {opacity: 0.7;}

#myImg7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg7:hover {opacity: 0.7;}

#myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg8:hover {opacity: 0.7;}

#myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg9:hover {opacity: 0.7;}

.impactimage {
    height: 150px;
}

.teachers {
    font-family: 'Droid Sans', sans-serif;
}

.color {
    background-color: antiquewhite;
    height: 600px;
}

.color2 {
    background-color: antiquewhite;
    height: 80px;
}

.color2bottom {
    background-color: antiquewhite;
    height: 50px;
}

.volunteers {
    background-color: white;
    padding-bottom: 200px;
}

.colorv {
    background-color: antiquewhite;
    height: 1200px;
}

.supportlist {
    text-align: left;
}

.v1 {
    width: 80%;
}

.colors {
    background-color: antiquewhite;
    height: 400px;
}

.colort {
    background-color: antiquewhite;
    height: 1405px;
}

.linktitle {
    font-size: 20px;
    color: red;
}

.colorp {
    background-color: antiquewhite;
    height: 850px;
}

.aboutpicture {
    width: 100%;
    padding-top: 50px;
}

.colorc {
    background-color: antiquewhite;
    height: 300px;
}

.colori {
    background-color: antiquewhite;
    height: 1205px;
}

.teacherspage {
    /* background-color: #F18A1D; */
    background-color: #FF8300;
    padding-top: 100px;
}

.whitepage {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.teachertitle {
    font-size: 40px;
}

.teachersinfo {
    text-align: left;
}

.trow1 {
    padding-top: 50px;
}

.quotet {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.volunteerspage {
    /* background-color: #EFE774; */
    background-color: yellow;
    padding-top: 100px;
}

.v2 {
    width: 70%;
}

.v3 {
    width: 85%;
}

.center {
    text-align: center;
}

.trow2 {
    padding-bottom: 40px;
}

.trow3 {
    padding-top: 85px;
}

.quotev {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.supportpage {
    /* background-color: #9EF99A; */
    background-color: green;
    padding-top: 100px;
}

.quotes {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.presspage {
    /* background-color: #9ADBF9; */
    background-color: blue;
    padding-top: 100px;
}

.quotep {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.contactpage {
    /* background-color: #CC9AF9; */
    background-color: #671C90;
    padding-top: 100px;
}

.quotec {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.impactpage {
    /* background-color: #FE5F5F; */
    background-color: red;
    padding-top: 100px;
}

.impimg {
    width: 90%;
}

.quotei {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.quoteindex {
    padding-top: 50px;
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.presslogo {
    /* width: 20%; */
    padding-left: 50px;
    height: 50px;
}

.presslogo2 {
    /* width: 15%; */
    padding-left: 50px;
    height: 100px;
}

.home {
    background-color: whitesmoke;
}

.northjersey {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pressimg {
    width: 75%;
    padding-bottom: 50px;
}

.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}

.pressimg2 {
    width: 50%;
    padding-bottom: 50px;
}

.pressimg3 {
    width: 80%;
    padding-bottom: 50px;
}