html, body {
    height: 100%;
}

.pc {
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

body {
    text-align: center;
}

.containerpc {
    height: 100%;
    background-image: url(../../img/5195sharp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.navbar-brand {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: white;
}

.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: black;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: white;
}

.navbar-custom {
    background-color: transparent;
    text-align: center;
}

#nav {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    
}

#nav a {
    text-decoration: none;
}

#nav a:hover{
    background:#F8F8F8 none;
    color: black;
}

#nav ul {
    display: inline-block;
    list-style: none;
}

#nav li {
    display:inline-block;
    float: none;
}

.container {
    width: 100%;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.aboutleft {
    padding-top: 100px;
}

.abouttitle {
    font-size: 40px;
    padding-top: 70px;
}

.logo {
    max-height: 40%;
    max-width: 40%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.quotepic {
    max-height: 80%;
    max-width: 80%;
}

.teachers {
    font-family: 'Droid Sans', sans-serif;
}

.supportlist {
    text-align: left;
}

.v1 {
    width: 80%;
}

.aboutpicture {
    width: 100%;
    padding-top: 50px;
}

.teacherspage {
    background-color: #FF8300;
    padding-top: 100px;
}

.whitepage {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.teachertitle {
    font-size: 40px;
}

.teachersinfo {
    text-align: left;
}

.trow1 {
    padding-top: 50px;
}

.quotet {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.volunteerspage {
    background-color: #F6EC55;
    padding-top: 100px;
}

.v2 {
    width: 70%;
}

.v3 {
    width: 85%;
}

.center {
    text-align: center;
}

.trow2 {
    padding-bottom: 40px;
}

.trow3 {
    padding-top: 85px;
}

.quotev {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.supportpage {
    background-color: #369D51;
    padding-top: 100px;
}

.quotes {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.presspage {
    background-color: #2C579A;
    padding-top: 100px;
}

.quotep {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.contactpage {
    background-color: #623684;
    padding-top: 100px;
}

.quotec {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.impactpage {
    background-color: #D61A23;
    padding-top: 100px;
}

.impimg {
    width: 90%;
}

.quotei {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.quoteindex {
    padding-top: 50px;
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.home {
    background-color: whitesmoke;
}

.northjersey {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pressimg {
    width: 75%;
    padding-bottom: 50px;
}

.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}

.pressimg2 {
    width: 50%;
    padding-bottom: 50px;
}

.pressimg3 {
    width: 80%;
    padding-bottom: 50px;
}

.cartoon {
    width: 80%;
}