html, body {
    height: 100%;
}

.pc {
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

body {
    text-align: center;
}

.containerpc {
    height: 100%;
/*    background-image: url(../../images/5195sharp.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.containerpc2 {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.navbar-brand {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: white;
}

.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: black;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: white;
}

.navbar-custom {
    background-color: transparent;
    text-align: center;
}

#nav {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    
}

#nav a {
    text-decoration: none;
}

#nav a:hover{
    background:#F8F8F8 none;
    color: black;
}

#nav ul {
    display: inline-block;
    list-style: none;
}

#nav li {
    display:inline-block;
    float: none;
}

.container {
    width: 100%;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.aboutleft {
    padding-top: 50px;
}

.abouttitle {
    font-size: 40px;
}

.logo {
    max-height: 40%;
    max-width: 40%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.quotepic {
    max-height: 80%;
    max-width: 80%;
}

.teachers {
    font-family: 'Droid Sans', sans-serif;
}

.supportlist {
    text-align: left;
    font-size: 15px;
}

.v1 {
    width: 80%;
}

.aboutpicture {
    width: 100%;
    padding-top: 50px;
}

.teacherspage {
    background-color: #FF8300;
    padding-top: 100px;
}

.whitepage {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.aboutwhitepage {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.teachertitle {
    font-size: 40px;
}

.teachersinfo {
    text-align: left;
    font-size: 15px;
}

.trow1 {
    padding-top: 50px;
}

.quotet {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.volunteerspage {
    background-color: #F6EC55;
    padding-top: 100px;
}

.v2 {
    width: 70%;
}

.v3 {
    width: 85%;
}

.center {
    text-align: center;
}

.trow2 {
    padding-bottom: 40px;
}

.trow3 {
    padding-top: 85px;
}

.quotev {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.supportpage {
    background-color: #369D51;
    padding-top: 100px;
}

.quotes {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.presspage {
    background-color: #2C579A;
    padding-top: 100px;
}

.quotep {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.contactpage {
    background-color: #623684;
    padding-top: 100px;
}

.quotec {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.impactpage {
    background-color: #D61A23;
    padding-top: 100px;
}

.impimg {
    width: 90%;
}

.quotei {
    padding-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.quoteindex {
    padding-top: 50px;
    background-color: whitesmoke;
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 50px;
}

.home {
    background-color: whitesmoke;
}

.northjersey {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pressimg {
    width: 75%;
    padding-bottom: 50px;
}

.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}

.pressimg2 {
    width: 50%;
    padding-bottom: 50px;
}

.pressimg3 {
    width: 80%;
}

.cartoon {
    width: 80%;
}

.development {
    font-family: 'Droid Sans', sans-serif;
    padding-top: 50px;
}

#bottom {
    padding-top: 100px;
}

#timelapse2018 {
    padding-top: 80px;
    max-width: 70%;
}

.arrow {
    color: white;
}

.aboutpage {
    background-color: whitesmoke;
    padding-top: 100px;
}

.presstext {
    font-size: 20px;
}

.northjerseylink {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2C579A;
    transition: 2s;
    -moz-transition: 2s;
    -webkit-transition: 2s;
    z-index: 1;
}

.northjerseylink:hover {
    opacity: 0.5;
    transition: 2s;
    -moz-transition: 2s;
    -webkit-transition: 2s;
    z-index: -5;
}

.northjerseylogosquare {
    width: 100%;
}

.articleimg {
    width: 90%;
    padding-top: 100px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #D8D8D8; /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    width: 80%;
    overflow: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    width: 80%;
    text-align: center;
    color: black;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 80px;
    transition: 0.3s;
    background-color: #D8D8D8;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.gooth {
    width: 300px;
}

#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

.pressrow {
    padding-top: 75px;
}

.article {
    height: 350px;
    background-image: url(../../images/pressarticleog.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s linear;
}

.article:hover {
    background-image: url(../../images/pressarticlehover.png);
    transition: 1s linear;
}